*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding:0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul{
    padding: 0;
    margin: 0;
  }
  
  li{
    list-style-type: none;
  }
  
  a{
    text-decoration: none;
  }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  /* object-fit: cover; */
  /* border-radius: 8px; */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{

    --clr-accent-200: #f6f5ee;
    --clr-accent-300: #ffea73;
    --clr-accent-400: #ffb434;
    --clr-accent-500: #de0000;
    

    --clr-neutral-100: white;
    --clr-neutral-200: #f7f7f7;
    --clr-neutral-300: #f2f2eb;
    --clr-neutral-400: #969696;

    --clr-neutral-700: #2b2b2b;
    --clr-neutral-800: #191919;
    --clr-neutral-900: black;

    --fs-200: 0.7875rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-750: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;

}


/* Header */

.primary-header{
    padding-inline: 4rem;
    padding-block: 0.5rem;
    background-color: var(--clr-neutral-800);
    /* background-color: var(--clr-accent-200); */
}

.primary-nav{
    width: 100%;


}
.nav{
  width: 100%;

}
.nav-list-item{
  padding-inline: 1rem;

}

.nav-list-item > a:hover, .footer-item > a:hover{
  background-image: linear-gradient(to right, var(--clr-accent-500), var(--clr-accent-400));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.mobile-nav-toggle{
    display: none;
}

.navbar-wrapper{
    width: 100%;
}

.top-section{
  background-color: var(--clr-neutral-800);
  isolation: isolate;
  height: 100vh;
}



@media (max-width: 64em){
    .primary-nav{
      position: fixed;
      z-index: 1000;
      gap: 2rem;
      inset: 0 0 0 30%;
      flex-direction: column;
      /* background-color: var(--clr-neutral-900); */
      padding: min(30vh, 6rem) 2em;
      padding-right: 0;
      transform: translateX(100%);
      transition: transform 350ms ease-out;
      background-color: hsl(0 0% 0% / 0.65);
      backdrop-filter: blur(1rem);
    }

    .nav-list-item{
        padding-block: 0.65rem;
        padding-left: 3rem;
        width: 100%;
    }

    .primary-header{
        padding-inline: 2rem;
    }
  
    .primary-nav[data-visible="true"]{
      transform: translateX(0%);
    }
  
    .nav-list-item > a{
      color: var(--clr-neutral-100) !important;
    }
  
    @supports (backdrop-filter: blur(1rem)){
      .primary-nav{
        background-color: hsl(0 0% 0% / 0.65);
        backdrop-filter: blur(1rem);
      }
    }
  
    .mobile-nav-toggle{
      display: block;
      position: absolute;
      z-index: 9999;
      background-image: url("/assets/hamburger-icon.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
      border: 0;
      width: 2.125rem;
      aspect-ratio: 1;
      right: 2rem
    }
  
    .mobile-nav-toggle[aria-expanded="true"]{
      background-image: url("/assets/icons8-x-48.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
    }
  }

.word{
  position: relative;
  padding-bottom: 7rem;
}

.word span
  {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      font-size: 3rem;
      animation: animate 12s linear infinite 0s;
      opacity: 0;
  }

  @keyframes animate
{
    0%
    {
        opacity: 0;
        transform: translateY(-50px);
    }
    2%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    15%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    20%
    {
        opacity: 0;
        transform: translateY(50px);
    }    
    80%
    {
        opacity: 0;
        transform: translateY(50px);
    }
    100%
    {
        opacity: 0;
        transform: translateY(50px);
    }
}
.word span:nth-child(1)
{
    animation-delay: 0s;
    
}
.word span:nth-child(2)
{
    animation-delay: 2s;
}
.word span:nth-child(3)
{
    animation-delay: 4s;
}
.word span:nth-child(4)
{
    animation-delay: 6s;
}
.word span:nth-child(5)
{
    animation-delay: 8s;
}
.word span:nth-child(6)
{
    animation-delay: 10s;
}
/* How it works */

.hiw-section{
  padding-block: 3.5rem;
  background-color: var(--clr-neutral-200);
}

.numbered-items{
  counter-reset: count;
}

.numbered-items li{
  counter-increment: count;
}

.numbered-items li::before{
  content: "0" counter(count);
  font-size: 4.5rem;
  position: absolute;
  left: 0;
  top: 0;
  /* bottom: -0.3rem; */
  opacity: 0.5;
  background-image: linear-gradient(to right, var(--clr-accent-500), var(--clr-accent-400));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* FAQ */

.faq{
  background-color: var(--clr-neutral-800);

  padding-top: 4rem;
  padding-bottom: 2rem;
}

.faq-component{
  border-radius: 4px;  
  background-color: var(--clr-neutral-700);
  /* border-image: linear-gradient(155deg, var(--clr-accent-500), var(--clr-accent-400)) 1; */
  color: var(--clr-neutral-200); 
  margin-bottom: 2rem;
}


.question{
  padding-block: 1rem;
  padding-inline: 1rem;
  cursor: pointer;
}

.answer{
  padding-block: 1rem;
  padding-inline: 1rem;
  font-weight: lighter;
  background-color:#3b3b3b;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  line-height: 1.5;
  display: none;
}

.show{
  display: block;
}

/* Pricing */

#pricingSection{
  padding-block: 3.5rem;
  padding-bottom: 15rem;
  background-color: var(--clr-neutral-200);
}

.pricingCard{
  padding: 2rem;
  background-color: var(--clr-neutral-100);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
}

.pricingCard[aria-details="dark"]{
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
}

.divider{
  height: 1px;
  width: 100%;
  background-color: #2b2b2b;
  opacity: 0.2;
  margin-bottom: 2rem;
}

.fa-check{
  padding-right: 1rem;
  color: #16ba1c;

}

/* Subs */
.subs-wrapper{
  position: relative;
}

.subs{
  --length: 20rem;
  position: absolute;
  top: calc(var(--length)/2 * -1);
  height: var(--length);
  width: calc(100% - 2rem);
  border-radius: 8px;
  z-index: 3;
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
  padding: 3rem 10rem;
}

.input-wrapper{
  padding-block: 0.35rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  border: 2px solid white;
  border-radius: 100vw;
  margin-bottom: 2rem;
}

input:focus{
  outline: none;
}

.input-wrapper > input{
  margin-block: 1rem;
  border: 0;
  background-color: var(--clr-neutral-700);
  caret-color: white;
  color: white;
  width: 70%;
}

.subs-btn{
  border: 0;
  padding: 0.2rem 2.5rem;
  border-radius: 100vw;
}

.subs-btn:hover, .social-icon:hover{
  cursor: pointer;
}


.social-icon{
  font-size: 2rem;
  padding: 0.7rem 1.2rem;
}
/* Footer */
#footer-section{
  padding-top: 15rem;
  padding-bottom: 2rem;
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-200);
}

.footer-item{
  padding-bottom: 0.6rem;
}


.btn-ans{
  cursor: pointer;
  padding-block: 0.5rem;
  margin-bottom: 1rem;
  padding-inline: 1rem;
  border: 1px solid var(--clr-accent-200);
  border-radius: 4px;
  width: 100%;

}

/* ----------- Utility Classes ------------ */

/* Colors */

.bg-accent-300{
    background-color: var(--clr-accent-300);
}

.bg-accent-400{
    background-color: var(--clr-accent-400);
}

.bg-accent-500{
    background-color: var(--clr-accent-500);
}

.bg-neutral-300{
  background-color: var(--clr-neutral-300);
}

.bg-neutral-800{
  background-color: var(--clr-neutral-800);
}

.text-neutral-800{
    color: var(--clr-neutral-800);
}

.text-neutral-100{
  color: var(--clr-neutral-100);
}



/* Text */

.ff-primary{
    font-family: "Inter";
    font-weight: 600;
}

.gradient-text{
    background-image: linear-gradient(to right, var(--clr-accent-500), var(--clr-accent-400));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ff-header{
    font-family: "Courgette";
    font-weight: 500;
}

.ff-nav{
    font-family: "Montserrat";
    font-weight: 500;
}

.fw-thin{
    font-weight: lighter;
}

.fw-bolder{
    font-weight: bolder;
}

.text-muted{
    opacity: 0.85;
}

.text-muted-light{
    opacity: 0.7;
}

/* Font Sizes */

.fs-200{
    font-size: var(--fs-200);
}

.fs-300{
    font-size: var(--fs-300);
}

.fs-400{
    font-size: var(--fs-400);
}

.fs-500{
    font-size: var(--fs-500);
}

.fs-600{
    font-size: var(--fs-600);
}

.fs-700{
    font-size: var(--fs-700);
}

.fs-750{
    font-size: var(--fs-750);
}

.fs-800{
    font-size: var(--fs-800);
}

.fs-900{
    font-size: var(--fs-900);
}


/* Display */

.flex{
    display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-space-between{
    justify-content: space-between;
}

.text-align-center{
  text-align: center;
}

/* Spacing */

.padding-x-0{
  padding-inline: 0 !important;
}

.padding-left-1{
    padding-left: 1rem;
}

.padding-left-2{
  padding-left: 2rem;
}

.padding-bt-1{
  padding-bottom: 1rem;
}

.padding-bt-2{
  padding-bottom: 2rem;
}

.padding-bt-3{
  padding-bottom: 3rem;
}

.margin-bt-3{
  margin-bottom: 3rem;
}

.padding-b-1{
  padding-block: 1.5rem;
}

.padding-b-3{
  padding-block: 3rem;
}


/* Buttons */ 

.a-btn{
  padding-block: 0.55rem;
  padding-inline: 1.75rem;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  border: 1px solid var(--clr-neutral-100);
  border-radius: 5px;
}

.pricingCard-btn{
  padding-block: 0.85rem;
  padding-inline: 2rem;
  display: block;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
}
.pricingCard-btn:hover, .subs-btn:hover{
  text-decoration: underline;
}

.inverted{
  background-color: var(--clr-accent-200);
  color: var(--clr-neutral-800);
}

.a-btn-inverted{
  padding-block: 0.6rem;
  padding-inline: 2.25rem;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 5px;
  color: var(--clr-neutral-100);
}

.cta-btn{
  padding-block: 0.675rem;
  padding-inline: 2.25rem;
  border-radius: 100vw;
  background-color: var(--clr-neutral-100);
}

.cta-btn:hover{
  background-color: transparent;
  color: var(--clr-neutral-100);
  border: 2px solid var(--clr-neutral-100);
  margin: -2px;
}




/* Container */

.container{
  max-width: 71.25rem;
  padding-inline: 1rem;
  margin-inline: auto;
}

.row{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img{
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.col{
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-lg-3{
  max-width: 25%;
  flex: 0 0 25%;
}

.col-lg-4{
  max-width: 33.33333%;
  /* flex: 0 0 33.33333%; */
}

.col-lg-6{
  max-width: 50%;
  flex: 0 0 50%
}
