.main {
  margin-top: 15vh;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  min-height: 75vh;
}

.main .option {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
  height: 80px;
  width: 80%;
  background-color: var(--clr-neutral-800);
  color: var(--clr-accent-200);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--clr-accent-200);
}

.main .option:not(.disabled):hover {
  background-image: linear-gradient(
    to right,
    var(--clr-accent-500),
    var(--clr-accent-400)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .option.disabled {
  cursor: default;
  background-color: var(--clr-neutral-800);
  color: grey;
}

.login {
  height: 100vh;
  width: 100%;
  padding-block: 5rem;
  padding-inline: 20rem;
}

.login-wrapper {
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
}

.login-btn {
  width: 100%;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

input {
  padding-inline: 1rem;
  padding-block: 0.7rem;
  border: 1px solid var(--clr-accent-200);
  background-color: var(--clr-neutral-800);
  width: 100%;
  color: var(--clr-accent-200);
}

input:focus {
  caret-color: var(--clr-accent-200);
  color: var(--clr-accent-200);
}

.lesson-paragraph {
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigator {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}
.navigator-button {
  background-color: var(--clr-neutral-800);
  color: var(--clr-accent-200);
  font-family: "Inter";
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 2px solid var(--clr-accent-200);
  border-radius: 100vw;
  margin-top: 50px;
  font-weight: 300;
}
.navigator-button:hover {
  background-image: linear-gradient(
    to right,
    var(--clr-accent-500),
    var(--clr-accent-400)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vh100 {
  height: 90vh;
}

.default-color {
  width: 100%;
  background-color: var(--clr-neutral-800);
  color: var(--clr-accent-200);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  border: 1px solid var(--clr-accent-200);
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}

.selected-color {
  width: 100%;
  background-color: var(--clr-neutral-800);
  color: var(--clr-accent-200);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  border: 1px solid orange;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}

.forum {
  width: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-around;
}
.forum input {
  height: 100px;
  font-size: 14px;
}

.forum-button {
  background-color: var(--clr-accent-200);
  color: var(--clr-neutral-800);
  margin-left: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 100vw;
  font-family: "Inter";
  height: 2.5rem;
}
